<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img [src]="miPortfolio?.imgArgentinaPrograma" alt="Logo Argentina Programa" width="auto" height="80" class="d-inline-block align-text-top"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="rrss collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="{{miPortfolio?.instagram}}" target="_blank"><i class="fa-brands fa-instagram m p-2"></i>Instagram</a>
            <a class="nav-link" href="{{miPortfolio?.facebook}}" target="_blank"><i class="fa-brands fa-facebook p-2"></i>Facebook</a>
            <a class="nav-link"><i class="fa-solid fa-right-to-bracket p-2"></i>Log In</a>
          </div>
        </div>
    </div>
</nav>
