<h2 class="linea mb-4 mt-3 col-sm-12 col-md-12 col-lg-12">Habilidades Blandas</h2>
<div class="habBlandas row">
    <ul class="list-group skills">
        <li class="skill" *ngFor="let softSkill of softSkillsLista">
            <div class="habilidad text-center col-sm-12 col-md-4 col-lg-4">
                <div>
                    <h4>{{softSkill.habilidad}}</h4>
                </div>
            </div>
        </li>
    </ul>
    
    <!--<div class="habilidad habMedio text-center col-sm-12 col-md-4 col-lg-4">
        <div>
            <h4>Organización</h4>
        </div>
    </div>
    <div class="habilidad text-center col-sm-12 col-md-4 col-lg-4">
        <div>
            <h4>Empatía</h4>
        </div>
    </div>-->
    <div>
        <i class="fa-solid fa-square-plus p-1 h3 m-0 pointer"></i>
        <i class="fa-solid fa-square-xmark p-1 h3 m-0 pointer"></i>

    </div>
    




</div>
