<section class="row"><!--Sección Estudios. Contiene información referente
    al historial de estudio. Logotipo Institucion, Periodo de Estudio, Nombre de Institucion, Descripción de grado. Boton + agrega nuevos estudios realizados-->
    <h2 class="linea mb-4 mt-3 col-sm-12 col-md-12 col-lg-12">Estudios Realizados</h2>
    <ul class="list-group">
        <li class="list-group-item border border-0" *ngFor="let estudio of estudioLista">
            <div id="estudioRealizado" class="estudioRealizado row">
                <div class="imgTitulo col-sm-12 col-md-4 col-lg-4">
                    <div>
                        <img class="img-fluid" [src]="estudio.imagen" alt="Imagen de Institucion">
                    </div>
                    <p class="mt-3 mb-2"><time>{{estudio.fechaInicio}}</time> - <time>{{estudio.fechaFin}}</time></p>
                    <strong><p>{{estudio.titulo}}</p></strong>
                </div>
               <div class="tituloTexto col-sm-12 col-md-8 col-lg-8">
                    <h3>{{estudio.nombre}}</h3>
                    <p>{{estudio.descripcion}}</p>
               </div>
            </div>
        
           <div>
                <i class="fa-solid fa-square-plus p-1 h3 m-0 pointer"></i>
                <i class="fa-solid fa-square-xmark p-1 h3 m-0 pointer"></i>
                <i class="fa-solid fa-square-pen p-1 h3 m-0 pointer"></i>
            </div>
        </li>
    </ul>
    
    


</section>
